/* FONTS */
@font-face {
    font-family: CartoGothic;
    src: url(res/fonts/CartoGothicStd-Book.woff);
	}
@font-face {
    font-family: CartoGothic;
    src: url(res/fonts/CartoGothicStd-Bold.woff);
    font-weight: bold;
}
@font-face {
    font-family: CartoGothic;
    src: url(res/fonts/CartoGothicStd-Italic.woff);
    font-style: italic;
}
@font-face {
    font-family: Roboto;
    src: url(res/fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(res/fonts/Roboto-Italic.ttf);
    font-style: italic;
}
@font-face {
    font-family: Roboto;
    src: url(res/fonts/Roboto-Bold.ttf);
    font-weight: bold;
}
@font-face {
	font-family: Roboto;
	src: url(res/fonts/Roboto-Light.ttf);
	font-weight: light;
	
/* Old Standard TT */
@font-face {
  font-family: Old Standard TT;
  font-style: normal;
  font-weight: normal;
  src: url(res/fonts/OldStandard-Regular.ttf);
}
@font-face {
  font-family: Old Standard TT;
  font-style: normal;
  font-weight: bold;
  src: url(res/fonts/OldStandard-Bold.ttf);
}
@font-face {
  font-family: Old Standard TT;
  font-style: italic;
  font-weight: normal;
  src: url(res/fonts/OldStandard-Italic.ttf);
}
/* Google fonts Open Sans */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  src: url('res/fonts/OpenSans-Regular.ttf');
}