header {
	background-color: #ffffff;
	width: 100%;
	height: 79px;
	position: fixed;
	top: 0;
	left: 0;
	border-bottom: 2px solid #ff5722;
	z-index: 100;
	transition: top 0.5s ease-in-out;
	text-align: center;
}

#logo {
	font-size: 3.5em;
	font-family: CartoGothic, Asap, Calibri, Arial, sans-serif;
	margin-top: 0.2em;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	}
#nav_btn_wrapper {
	position: absolute;
	top: 0;
	right: 0;
}
.nav_btn {
	float: right;
	border-left: 2px solid #444;
	font-size: 1.5em;
	height: 73px;
	width: 79px;
	margin-bottom: 3px;
	margin-top: 3px;
	text-decoration: none;
	color: black;
	font-family: Roboto, Helvetica, Arial, sans-serif;
	line-height: 73px;
}
.nav_btn:hover {
	background: #ff5722;
}

/* To hide header */
.nav-up {
  top: -79px; /*same as header height*/
}

/* RESPONSIVE */
	/* PHONES */
@media only screen and (max-width : 43em) {
	header {
		height: 135px;
	}
	.nav-up {
		top: -135px; /*same as header height*/
	}
	section {
		margin-top: 10em;
	}
	#logo {
		font-size: 2.8em;
	}
	#nav_btn_wrapper {
		border-top: 1px solid #444;
		position: relative;
	}
	.nav_btn {
		width: 49%;
	}
}