#ie6_banner {
	background:#333;
	width:100%;
	position:relative;
	padding:15px 0;
	margin:0;
	border-bottom:1px solid #111;
	z-index:999;
	}

#ie6_wrap {
	width:1000px;
	margin:0 auto;
	}
	
#ie6_wrap h1 {
	font-size:18px;
	text-transform:none;
	color:#fff;
	background:none;
	margin:0 0 10px;
	padding:0;
	font-weight:bold;
	}

#ie6_wrap p {
	text-align:left;
	font-size:12px;
	font-family: Arial, sans-serif;
	font-weight:normal;
	color:#fff;
	background:none;
	line-height:16px;
	margin:0;
	}
	
#ie6_wrap p a {
	color:#fff;
	background:none;
	text-decoration:underline;
	font-size:12px;
	}
	
#ie6_wrap p a:hover {
	color:#fff;
	background:none;
	text-decoration:none;
	}

#ie6_links{
	float:right;
	width:272px;
	}
	
#ie6_links a {
	float:left;
	background:#5a5a5a;
	width:85px;
	height:27px;
	padding:12px 0 0 50px;
	margin:0 1px 1px 0;
	color:#fff;
	}
	
#ie6_links a:hover {
	text-decoration:underline;
	}
	
#ie6_links img {
	position:absolute;
	margin:-5px 0 0 -35px;
	border:none;
	}