body {
	background-color: #ffcdbe;
	font-family: Roboto, Helvetica, Arial, sans-serif;
}

section {
	background-color: white;
	margin-top: 6em;
	margin-bottom: 3em;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
	max-width: 40em;
	position: relative;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 1em;
	padding-bottom: 1em;
	font-size: 1em;
	line-height: 1.15em;
	font-family: Roboto, Helvetica, Arial, sans-serif;
}

h1 {
	font-size: 2em;
	line-height: 1.1em;
}

h2 {
	font-size: 1.6em;
	margin-top: 0.8em;
	line-height: 1.1em;
	margin-bottom: -0.4em;
	}
	
h3 {
font-size: 1.4em;
	margin-left: 0.5em;
	margin-top: 0.6em;
	margin-bottom: -0.6em;
	margin-top: 0.7em;
	}

p {
	line-height: 1.4em;
	margin-bottom: 0.2em;
}

.date_posted{
	font-size: 0.8em;
}

.quote {
	font-family: Georgia, serif;
	padding: 2em;
}

.author {
	text-align: right;
	margin-top: -1em;
	margin-right: 3em;
}

a {
	color: #ff5722;
	text-decoration: underline;
	font-weight: bold;
}
a:hover {
	color: #444;
}

img, video {
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

ul {
	padding-left: 1em;
	margin-top: 0.5em;
	list-style-type: round;
}
ul li {
	margin-bottom: 0.3em;
}

table, th, td {
	border: 1px dotted grey;
	margin: 0.3em;
	}
th {
	background-color: #ffcdbe;
	}

.small_description {
	font-size: 0.8em;
	text-align: center;
	font-weight: bold;
	display: block;
	top: -1em;
	bottom: 1em;
	}

/* TEXT SELECTION COLOUR */	
::selection {
    background: #ffcdbe;
}

/* Fix sub and sup */
sub, sup {
  /* Specified in % so that the sup/sup is the right size relative to the surrounding text */
  font-size: 75%;

  /* Zero out the line-height so that it doesn't interfere with the positioning that follows */
  line-height: 0;

  /* Where the magic happens: makes all browsers position the sup/sup properly, relative to the surrounding text */
  position: relative;

  /* Note that if you're using Eric Meyer's reset.css, this is already set and you can remove this rule */
  vertical-align: baseline;
}
sup {
  /* Move the superscripted text up */
  top: -0.5em;
}
sub {
  /* Move the subscripted text down, but only half as far down as the superscript moved up */
  bottom: -0.25em;
}

/* SORTABLE TABLES*/
.sortable {
	border: 1px solid grey;
	}
.sortable th, td {
	text-align: left;
	padding-right: 2em;
	padding-left: 0.3em;
	padding-top: 0.3em;
	}
.sortable th {
	background: #4C9CF1;
	padding-bottom: 0.3em;
	}
	
/* RESPONSIVE */
	/* PHONES */
@media only screen and (max-width : 43em) {
	/* WIDE TABLES */
	.wide_table table, thead, tbody, th, td, tr  {
		display: block; 
		border:none;
		margin: 0em;
		}
	.wide_table th {
		display:none;
		border: none;
		}
	.wide_table td { 
		/* Behave  like a "row" */
		position: relative;
		}
	.wide_table tr { 
		margin-top:0.5em; 
		border: 1px dotted grey;
		}
	.wide_table tr:first-child {
		border: none;
		}
	.wide_table td:first-child {
		font-weight: bold;
		margin-left: 0.5em;
		background-color: #b4d5f9;
		}
}