body {
	background-color: #EBECED;
}

section {
	background-color: white;
	margin-top: 6em;
	margin-bottom: 3em;
	margin-left: auto;
	margin-right: auto;
	max-width: 40em;
	position: relative;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 1em;
	padding-bottom: 1em;
	font-size: 1em;
	line-height: 1.15em;
	font-family: Asap, Roboto, Arial, sans-serif;
}

h1 {
	font-size: 2em;
	color: #08325e;
	line-height: 1.1em;
}

h2 {
	font-size: 1.6em;
	color: #0c4f97;
	font-family: Asap;
	margin-top: 0.8em;
	}
	
h3 {
font-size: 1.2em;
	color: #444;
	font-family: Asap;
	margin-left: 0.5em;
	margin-top: 0.6em;
	}

p {
	line-height: 1.5em;
	margin-bottom: 0.2em;
}

a {
	color: #4C9CF1;
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	color: #444;
}

img {
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

ul {
	padding-left: 1em;
	margin-top: 0.5em;
	list-style-type: square;
}
ul li {
	margin-bottom: 0.3em;
}

table, th, td {
	border: 1px dotted grey;
	margin: 0.3em;
	}
th {
	background-color: #4C9CF1;
	}

.small_description {
	font-size: 0.8em;
	text-align: center;
	font-weight: bold;
	display: block;
	top: -1em;
	bottom: 1em;
	}

/* HEADER & FOOTER */
header {
	background-color: #ffffff;
	width: 100%;
	height: 79px;
	position: fixed;
	top: 0;
	border-bottom: 2px solid #4C9CF1;
	z-index: 100;
	transition: top 0.5s ease-in-out;
}
/* To hide header */
.nav-up {
  top: -79px; /*same as header height*/
}
/* ditto for footer */
.nav-up-footer {
  top: -5em;
}

nav {
	vertical-align: center;
	text-align: center;
	margin-top: -0.25em;
	font-family: 'Asap', Droid Sans, Arial, sans-serif;
}

#logo{
	margin-left: 31%;
	margin-top: 0.2em;
	margin-right: 1em;
	float: left;
	font-size: 3.4em;
	font-family: CartoGothic, Arial, sans-serif;
}
#logo:hover {
	text-decoration: underline;
	}
#menu-icon {
	display: hidden;
	width: 4em;
	height: 1.9em;
	background: url(res/expand_icon.png) center;
	background-repeat:no-repeat;
	background-size: 3em 3em;
	border-radius: 3px;
	margin-top: 2em;
	text-align: right;
}
a:hover#menu-icon {

	background: url(res/expand_icon_hover.png) center;
}
/* MOBILE MENU */
nav ul {
	list-style: none;
}
nav li {
	display: inline-block;
	float: left;
	padding: 1em;
	font-size: 1.5em;	
}
nav a {
	color: #2262AD
}
nav a:hover {
	text-decoration: underline;
}
.current {
	color: #2262AD;
}

/* FOOTER */
footer {
	background: url(res/opacity_bg_70.png) repeat;
	padding-top: 1em;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 1.5em;
	transition: top 0.5s ease-in-out;
	}
.left_footer {
	font-size: 0.85em;
	margin-left: 0.5em;
	float: left;
	font-family: Asap, Arial, sans-serif;
	color: #444;
	}
.right_footer {
	font-size: 0.7em;
	margin-right: 0.5em;
	float: right;
	vertical-align: center;
	font-family: Asap, Arial, sans-serif;
	}

/* Fix sub and sup */
sub, sup {
  /* Specified in % so that the sup/sup is the right size relative to the surrounding text */
  font-size: 75%;

  /* Zero out the line-height so that it doesn't interfere with the positioning that follows */
  line-height: 0;

  /* Where the magic happens: makes all browsers position the sup/sup properly, relative to the surrounding text */
  position: relative;

  /* Note that if you're using Eric Meyer's reset.css, this is already set and you can remove this rule */
  vertical-align: baseline;
}
sup {
  /* Move the superscripted text up */
  top: -0.5em;
}
sub {
  /* Move the subscripted text down, but only half as far down as the superscript moved up */
  bottom: -0.25em;
}

/* SORTABLE TABLES*/
.sortable {
	border: 1px solid grey;
	}
.sortable th, td {
	text-align: left;
	padding-right: 2em;
	padding-left: 0.3em;
	padding-top: 0.3em;
	}
.sortable th {
	background: #4C9CF1;
	padding-bottom: 0.3em;
	}
	
/* TEASER on INDEX */
#teasers {
	background-color: #b4d5f9;
	max-width: 110%;
	margin-top: 1em;
	padding-left: 3em;
	padding-right: 3em;
	padding-top: 1em;
	padding-bottom: 1em;
	margin-bottom: 1em;
	}

#teasers h2 {
	color: black;
	text-align: center;
	}
.teaser_tile {
	background-color: #EBECED;
	padding: 0.3em;
	margin-bottom: 1em;
	height: 4em;
	transition: height 0.5s; /* Animation time */
	}
.teaser_tile img {
	display: none;
	}

#teaser_tile_last {
	margin-right: 0em;
	}
.teaser_text {
	font-size: 0.9em;
	}
.teaser_tile a{
	color: #2262AD;
	}
.teaser_tile:hover img{
	margin-top: 1em;
	display: block;
	max-width: 90%;
	transition-delay: 0.1s;
}
.teaser_tile:hover {
	height: 23em;
	}






/* SHARE BUTTONS */
#share_to {
	float: right;
	right: 1em;
	position: absolute;
	margin-top: -0.5em;
	}
	
/* RESPONSIVE */
	/* PHONES */
@media only screen and (max-width : 41em) {
	/* NAV */
	#logo{
		margin-left: 5%;
		margin-right: 0.5em;
		}
	#menu-icon {
		display:inline-block;
	}
	nav ul, nav:active ul { 
		display: none;
		position: absolute;
		padding: 20px;
		background: #fff;
		border: 5px solid #444;
		right: 20px;
		top: 60px;
		width: 50%;
		border-radius: 4px 0 4px 4px;
	}
	nav li {
		text-align: left;
		width: 80%;
		padding: 1em 0;
		margin: 0;
	}
	nav:hover ul {
		display: block;
	}
	
	/* TEASER TILES */
	#teasers {
	padding: 0em;
	padding-top: 0.1em;
	}
	.teaser_tile {
	height: auto;
	}
	
	/* WIDE TABLES */
	.wide_table table, thead, tbody, th, td, tr  {
		display: block; 
		border:none;
		margin: 0em;
		}
	.wide_table th {
		display:none;
		border: none;
		}
	.wide_table td { 
		/* Behave  like a "row" */
		position: relative;
		}
	.wide_table tr { 
		margin-top:0.5em; 
		border: 1px dotted grey;
		}
	.wide_table tr:first-child {
		border: none;
		}
	.wide_table td:first-child {
		font-weight: bold;
		margin-left: 0.5em;
		background-color: #b4d5f9;
		}
	/* SHARING */
	#share_to {
		display: none;
	}
}